.scroll-component {
    height : 70vh;
    overflow-y: auto;
    border : 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.scroll-up-component {
    @extend .scroll-component;
    display: flex;
    flex-direction: column-reverse;
}